* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
}

html {
    font-family: system-ui, sans-serif;
    --card-bg-color: #bbbbbb;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background: #303030;
    padding: 1rem;
}

header h1 {
    margin-bottom: 1rem;
}

.search-container {
    margin-bottom: 0.5rem;
}

.search-btn {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
}

main {
    background: #000000;
    flex-grow: 1;
    display: flex;
    gap: 1rem;
    padding: 1rem;
}

main > div {
    background: #303030;
    padding: 1rem;
    border-radius: 10px;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.current-container > div {
    flex-grow: 1;
}

.weather-card {
    background: var(--card-bg-color);
    border-radius: 10px;
    padding: 1rem;
}