* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
}

html {
    font-family: system-ui, sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background: #303030;
    padding: 1rem;
}

main {
    background: #000000;
    flex-grow: 1;
    display: flex;
    gap: 1rem;
    padding: 1rem;
}

main > div {
    background: #303030;
    padding: 1rem;
    border-radius: 1rem;
    width: 50%;
}