* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
}

html {
    font-family: system-ui, sans-serif;
    --header-color: #494949;
    --shadow-color: #232323;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr 3fr;
}

header {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--header-color);
    box-shadow: 0 0 5px 5px var(--shadow-color);
}

.controls {
    padding: 1rem;
    display: flex;
    gap: 1rem;
}

label {
    font-size: 1.1rem;
}

button {
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    border-radius: 5px;
    border: none;
}

main {
    z-index: -1;
}